body.home {
    background-color: black;
}
.homebod{
    background:black;
      margin-top: -1px;
     margin-bottom: -1px;
}

.backG{
  margin-bottom: 0px;
        margin-top: 0px;
        display: block;
        background: black; 
}